# Edit by hand (not managed by Roxygen)

# Main model fitting function of package
export(instrument)

# Rcpp
import(Rcpp)

# Methods
import(methods)

# Use compiled code (Stan -> cpp -> instrument)
useDynLib(instrument, .registration = TRUE)

# S3 method exports
S3method(summary, instrumentObj)
export(summary.instrumentObj)
S3method(traceplot, instrumentObj)
export(traceplot.instrumentObj)

# From rstan
importFrom(rstan, sampling)
importFrom(rstan, extract)
importFrom(rstan, traceplot)
importFrom(rstan, vb)

# from data.table
importFrom(data.table, transpose)
importFrom(data.table, dcast)
importFrom(data.table, as.data.table)

# from purrr
importFrom(purrr, map)

# from stringr
# import(stringr)
importFrom(stringr, str_split)
importFrom(stringr, str_replace_all)
importFrom(stringr, str_detect)
importFrom(stringr, str_subset)
importFrom(stringr, str_squish)
importFrom(stringr, str_remove_all)
importFrom(stringr, str_match_all)
